<!DOCTYPE html>
<html>
<%- include ./../public/header %>

    <body>
        <div class="wrapper">
            <%- include ./../public/sidebar %>
                <div class="main-panel">
                    <%- include ./../public/nav %>
                        <div class="content" style="margin-top: 5px;">
                            <div style="padding: 14px">
                                <form action="#" method="post" class="form-check-rule edit_box">
                                    <div class="text-center bg-primary edit_title">
                                        <h4>添加信息</h4>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>参数名</label>
                                                <input type="text" name="paramName" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>参数值</label>
                                                <input type="text" name="paramValue" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>参数类型</label>
                                                <input type="text" name="paramFlag" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>参数时间</label>
                                                <input type="text" name="paramDate" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>状态1.正常，-1 失效</label>
                                                <input type="text" name="paramStatus" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>用户ip</label>
                                                <input type="text" name="fromip" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>字段8</label>
                                                <input type="text" name="firstfrom" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>字段9</label>
                                                <input type="text" name="firstad" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>验证次数</label>
                                                <input type="text" name="vailCount" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>字段11</label>
                                                <input type="text" name="deviceUUID" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>字段12</label>
                                                <input type="text" name="serialId" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>是否是语音验证码 1：是0：否</label>
                                                <input type="text" name="isVoice" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>字段14</label>
                                                <input type="text" name="bankcardno" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="text-align: center;">
                                        <button class="btn btn-success" type="submit">添加</button>
                                        <a href="#" class="btn btn-success">返回</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
        </div>
    </body>

</html>