<!DOCTYPE html>
<html>
<%- include ./../public/header %>

    <body>
        <div class="wrapper">
            <%- include ./../public/sidebar %>
                <div class="main-panel">
                    <%- include ./../public/nav %>
                        <div class="content" style="margin-top: 5px;">
                            <div style="padding: 14px">
                                <form action="#" method="post" class="form-check-rule edit_box">
                                    <div class="text-center bg-primary edit_title">
                                        <h4>添加信息</h4>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>权限名称</label>
                                                <input type="text" name="contentName" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>权限类型</label>
                                                <input type="text" name="contentLevel" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>父权限</label>
                                                <input type="text" name="parentId" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>创建时间</label>
                                                <input type="text" name="createTime" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>商户ID</label>
                                                <input type="text" name="originalId" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>是否启用 1启用 -1禁用</label>
                                                <input type="text" name="enabled" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>备注</label>
                                                <input type="text" name="remark" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>显示的顺序</label>
                                                <input type="text" name="showLevel" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>0: no, 1: show</label>
                                                <input type="text" name="isShow" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>最后更新时间</label>
                                                <input type="text" name="updateTime" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>项目层级编码</label>
                                                <input type="text" name="levelCode" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>-1 不是父节点 1 是父节点</label>
                                                <input type="text" name="isParentNode" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="text-align: center;">
                                        <button class="btn btn-success" type="submit">添加</button>
                                        <a href="#" class="btn btn-success">返回</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
        </div>
    </body>

</html>