<!DOCTYPE html>
<html>
<%- include ./../public/header %>

    <body>
        <div class="wrapper">
            <%- include ./../public/sidebar %>
                <div class="main-panel">
                    <%- include ./../public/nav %>
                        <div class="content" style="margin-top: 5px;">
                            <div style="padding: 14px">
                                <form action="#" method="post" class="form-check-rule edit_box">
                                    <div class="text-center bg-primary edit_title">
                                        <h4>添加信息</h4>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>额度ID</label>
                                                <input type="text" name="quota_id" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>企业ID</label>
                                                <input type="text" name="company_id" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>产品ID</label>
                                                <input type="text" name="product_id" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>合作商ID</label>
                                                <input type="text" name="partner_id" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>业务品种</label>
                                                <input type="text" name="business_type" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>币种</label>
                                                <input type="text" name="currency" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>额度状态5-批准 1 -冻结 2-终止 3-过期 4-待授信  6-未授信</label>
                                                <input type="text" name="freezen_status" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>系统评估额度日期</label>
                                                <input type="text" name="system_credit_date" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>系统评估额度</label>
                                                <input type="text" name="sys_credit" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>最后授信审批日期</label>
                                                <input type="text" name="last_credit_date" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>批准额度</label>
                                                <input type="text" name="approved_sum" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>已用额度</label>
                                                <input type="text" name="already_used_amount" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>可用额度</label>
                                                <input type="text" name="available_credit" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>冻结金额</label>
                                                <input type="text" name="freezing_amount" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>授信开始日期</label>
                                                <input type="text" name="credit_apply_create_time" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>授信终止日期</label>
                                                <input type="text" name="credit_apply_expire_time" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>是否循环使用</label>
                                                <input type="text" name="is_loop" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>周期单位</label>
                                                <input type="text" name="cycle" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>周日</label>
                                                <input type="text" name="cycle_num" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>是否额度审批中 1审批中 2审批完</label>
                                                <input type="text" name="is_approval" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="text-align: center;">
                                        <button class="btn btn-success" type="submit">添加</button>
                                        <a href="#" class="btn btn-success">返回</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
        </div>
    </body>

</html>