<!DOCTYPE html>
<html>
<%- include ./../public/header %>

    <body>
        <div class="wrapper">
            <%- include ./../public/sidebar %>
                <div class="main-panel">
                    <%- include ./../public/nav %>
                        <div class="content" style="margin-top: 5px;">
                            <div style="padding: 14px">
                                <form action="#" method="post" class="form-check-rule edit_box">
                                    <div class="text-center bg-primary edit_title">
                                        <h4>添加信息</h4>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>字段2</label>
                                                <input type="text" name="createtime" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>字段3</label>
                                                <input type="text" name="userId" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>字段4</label>
                                                <input type="text" name="amount" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>商户标识</label>
                                                <input type="text" name="originalId" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>平台标识</label>
                                                <input type="text" name="merchantId" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>字段7</label>
                                                <input type="text" name="companyId" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>用户类型 1：普通自由职业者 2：企业合伙人</label>
                                                <input type="text" name="userType" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>字段9</label>
                                                <input type="text" name="statusDesc" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label> 0 待发放 1  发放成功  2 发放失败</label>
                                                <input type="text" name="status" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>批次id 对应交易记录表id</label>
                                                <input type="text" name="batchId" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>爱员工授权订单号</label>
                                                <input type="text" name="aygOrderNo" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>字段13</label>
                                                <input type="text" name="orderNo" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>佣金发放时间</label>
                                                <input type="text" name="updatetime" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>操作人</label>
                                                <input type="text" name="operatorName" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>备注</label>
                                                <input type="text" name="remark" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>字段17</label>
                                                <input type="text" name="serviceRatesFree" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>字段18</label>
                                                <input type="text" name="profiltFree" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>字段19</label>
                                                <input type="text" name="serviceRates" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>字段20</label>
                                                <input type="text" name="profilt" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>支付方式</label>
                                                <input type="text" name="payType" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>支付宝账户</label>
                                                <input type="text" name="account" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>1 已开票  2 未开票  </label>
                                                <input type="text" name="invoiceStatus" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>发票号</label>
                                                <input type="text" name="invoiceBatchNo" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>字段25</label>
                                                <input type="text" name="menuId" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>字段26</label>
                                                <input type="text" name="contentName" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>字段27</label>
                                                <input type="text" name="paymentTime" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>字段28</label>
                                                <input type="text" name="userNo" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>字段29</label>
                                                <input type="text" name="companyName" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>字段30</label>
                                                <input type="text" name="certId" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>字段31</label>
                                                <input type="text" name="documentType" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>字段32</label>
                                                <input type="text" name="userName" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>字段33</label>
                                                <input type="text" name="customName" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>字段34</label>
                                                <input type="text" name="batchFileName" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>字段35</label>
                                                <input type="text" name="bankName" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>字段36</label>
                                                <input type="text" name="description" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>字段37</label>
                                                <input type="text" name="batchName" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>字段38</label>
                                                <input type="text" name="batchDesc" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>字段39</label>
                                                <input type="text" name="bankNo" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="text-align: center;">
                                        <button class="btn btn-success" type="submit">添加</button>
                                        <a href="#" class="btn btn-success">返回</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
        </div>
    </body>

</html>